doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='csrf-token', content=_csrf)
    meta(name='author', content='')
    //- link(href='http://yui.yahooapis.com/pure/0.5.0/pure-min.css', rel='stylesheet' type='text/css')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800", rel='stylesheet' type='text/css')
    link(href="poptart/v1.0/cherry.css" rel="stylesheet")
    link(href="css/theme.css" rel="stylesheet")
    title #{title} | Sprk.fitness

  body(class="poptart #{bodyClass}")
