include partials/header

section
  .row
    .col-1-2
      img
    .col-1-2.info
      h1 Poptart Framework
        span v1.0 Cherry
      .getting-started
        a(href="#!") Getting started
        span &middot;
        a(href="#!") View Docs
        input(value="https://poptartframework.herokuapp.com/poptart/v1.0/cherry.min.css")
      

include partials/footer
