include partials/header
section
  .row
    .col-1
      p Main grid
  .row
    .col-1
      .panel .col-1-1
  .row
    .col-1-2
      .panel .col-1-2
    .col-1-2
      .panel .col-1-2
  .row
    .col-1-3
      .panel .col-1-3
    .col-1-3
      .panel .col-1-3
    .col-1-3
      .panel .col-1-3
  .row
    .col-1-4
      .panel .col-1-4
    .col-1-4
      .panel .col-1-4
    .col-1-4
      .panel .col-1-4
    .col-1-4
      .panel .col-1-4
  .row
    .col-1-5
      .panel .col-1-5
    .col-1-5
      .panel .col-1-5
    .col-1-5
      .panel .col-1-5
    .col-1-5
      .panel .col-1-5
    .col-1-5
      .panel .col-1-5
  .row
    .col-1-6
      .panel .col-1-6
    .col-1-6
      .panel .col-1-6
    .col-1-6
      .panel .col-1-6
    .col-1-6
      .panel .col-1-6
    .col-1-6
      .panel .col-1-6
    .col-1-6
      .panel .col-1-6
  .row
    .col-1-7
      .panel .col-1-7
    .col-1-7
      .panel .col-1-7
    .col-1-7
      .panel .col-1-7
    .col-1-7
      .panel .col-1-7
    .col-1-7
      .panel .col-1-7
    .col-1-7
      .panel .col-1-7
    .col-1-7
      .panel .col-1-7
  .row
    .col-1-8
      .panel .col-1-8
    .col-1-8
      .panel .col-1-8
    .col-1-8
      .panel .col-1-8
    .col-1-8
      .panel .col-1-8
    .col-1-8
      .panel .col-1-8
    .col-1-8
      .panel .col-1-8
    .col-1-8
      .panel .col-1-8
    .col-1-8
      .panel .col-1-8
  .row
    .col-1-9
      .panel .col-1-9
    .col-1-9
      .panel .col-1-9
    .col-1-9
      .panel .col-1-9
    .col-1-9
      .panel .col-1-9
    .col-1-9
      .panel .col-1-9
    .col-1-9
      .panel .col-1-9
    .col-1-9
      .panel .col-1-9
    .col-1-9
      .panel .col-1-9
    .col-1-9
      .panel .col-1-9
  .row
    .col-1-10
      .panel .col-1-10
    .col-1-10
      .panel .col-1-10
    .col-1-10
      .panel .col-1-10
    .col-1-10
      .panel .col-1-10
    .col-1-10
      .panel .col-1-10
    .col-1-10
      .panel .col-1-10
    .col-1-10
      .panel .col-1-10
    .col-1-10
      .panel .col-1-10
    .col-1-10
      .panel .col-1-10
    .col-1-10
      .panel .col-1-10
  .row
    .col-1-11
      .panel .col-1-11
    .col-1-11
      .panel .col-1-11
    .col-1-11
      .panel .col-1-11
    .col-1-11
      .panel .col-1-11
    .col-1-11
      .panel .col-1-11
    .col-1-11
      .panel .col-1-11
    .col-1-11
      .panel .col-1-11
    .col-1-11
      .panel .col-1-11
    .col-1-11
      .panel .col-1-11
    .col-1-11
      .panel .col-1-11
    .col-1-11
      .panel .col-1-11
  .row
    .col-1-12
      .panel .col-1-12
    .col-1-12
      .panel .col-1-12
    .col-1-12
      .panel .col-1-12
    .col-1-12
      .panel .col-1-12
    .col-1-12
      .panel .col-1-12
    .col-1-12
      .panel .col-1-12
    .col-1-12
      .panel .col-1-12
    .col-1-12
      .panel .col-1-12
    .col-1-12
      .panel .col-1-12
    .col-1-12
      .panel .col-1-12
    .col-1-12
      .panel .col-1-12
    .col-1-12
      .panel .col-1-12

  .row
    .col-1
      p Uneven Grid
  .row
    .col-1
      .panel .col-1-1
  .row
    .col-1-2
      .panel .col-1-2
    .col-1-2
      .panel .col-1-2
  .row
    .col-2-3
      .panel .col-2-3
    .col-1-3
      .panel .col-1-3
  .row
    .col-3-4
      .panel .col-3-4
    .col-1-4
      .panel .col-1-4
  .row
    .col-4-5
      .panel .col-4-5
    .col-1-5
      .panel .col-1-5
  .row
    .col-5-6
      .panel .col-5-6
    .col-1-6
      .panel .col-1-6
  .row
    .col-6-7
      .panel .col-6-7
    .col-1-7
      .panel .col-1-7
  .row
    .col-7-8
      .panel .col-7-8
    .col-1-8
      .panel .col-1-8
  .row
    .col-8-9
      .panel .col-8-9
    .col-1-9
      .panel .col-1-9
  .row
    .col-9-10
      .panel .col-9-10
    .col-1-10
      .panel .col-1-10
  .row
    .col-10-11
      .panel .col-10-11
    .col-1-11
      .panel .col-1-11
  .row
    .col-11-12
      .panel .col-11-12
    .col-1-12
      .panel .col-1-12

  .row
    .col-1
      p Centered Grid
  .row
    .col-1
      .panel .col-1-1
  .row
    .col-1-2.colCentered
      .panel .col-1-2 .colCentered
  .row
    .col-1-3.colCentered
      .panel .col-1-3 .colCentered
  .row
    .col-1-4.colCentered
      .panel .col-1-4 .colCentered
  .row
    .col-1-5.colCentered
      .panel .col-1-5 .colCentered
  .row
    .col-1-6.colCentered
      .panel .col-1-6 .colCentered
  .row
    .col-1-7.colCentered
      .panel .col-1-7 .colCentered
  .row
    .col-1-8.colCentered
      .panel .col-1-8 .colCentered
  .row
    .col-1-9.colCentered
      .panel .col-1-9 .colCentered
  .row
    .col-1-10.colCentered
      .panel .col-1-10 .colCentered
  .row
    .col-1-11.colCentered
      .panel .col-1-11 .colCentered
  .row
    .col-1-12.colCentered
      .panel .col-1-12 .colCentered
script document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
